<% @contestants.each do |contestant| %>
<div id="contestant-<%= contestant.id %>">
  <hr>
  <h3><%= contestant.name %></h3>
  <p><b>Projects:</b> <%= contestant.all_projects.join(', ') %></p>
</div>
<% end %>
<hr>
