<% @contestants.each do |contestant| %>
<div id="contestant-<%= contestant.id %>">
  <h3><%= contestant.name %></h3>
  <% contestant.projects.each do |project| %>
    <p>Projects: <%= project.name %>, </p>
  <% end %>
</div>
<% end %>
